.sidebar {
    div {
        color: #245ca9;
        margin: 20px 20px 0 25px;
        h3 {
            margin: 5px 0;
        }
        p {
            margin: 0;
        }
    }
    float: left;
    width: 25%;
    padding-top: 16%;
    @include break (880px){
        padding-top: 19%;
    }
    @include break (602px){
        width: 78%;
        padding-top: 0;
        float: right;
    }
    @include break (415px){
        width: 100%;
    }
    img {
        width: 100%;
        &.normal {
            display: block;
            @include break (602px){
                display: none;
            }
        }
        &.mobile {
            display: none;
            @include break (602px){
                display: block;
            }
        }
    }
}